@page "/addTeacher"
@using ERP.Application.StaffApp.Interfaces.UsersManagement
@using ERP.Domain.Core.Entity
@using FluentValidation
@using Microsoft.AspNetCore.Components.Forms
@using System.IO


@inject NavigationManager Navigation
@inject IAddTeacherUseCase AddTeacherUseCase
@inject ISnackbar Snackbar

<style>
    h2 {
        text-align: center;
        font-weight: bold;
        text-decoration: underline;
    }

  
</style>

<h2><c>ADD A NEW LECTURER</c></h2>

<MudCard Class="my-custom-card" >


    <h5><c>ADD LECTURERS FROM EXCEL</c></h5>
    <InputFile @ref="fileInput" OnChange="HandleFileUpload" />
    @if (teachers != null && teachers.Any())
    {
        <button class="btn btn-primary" @onclick="SaveAllTeachers">Save All Lecturers</button>
    }



    <MudForm Model="@model" @ref="@form" Validation="@(teacherValidator.ValidateValue)" ValidationDelay="0">
        <MudCardContent>
            <MudTextField @bind-Value="model.TeacherId"
                          Immediate="true"
                          Label="Teacher ID"
                          For="@(() => model.TeacherId)" />

            <MudTextField @bind-Value="model.FirstName"
                          Immediate="true"
                          Label="First Name"
                          For="@(() => model.FirstName)" />

            <MudTextField @bind-Value="model.LastName"
                          Immediate="true"
                          Label="Last Name" 
                          For="@(() => model.LastName)" />

            <MudTextField @bind-Value="model.Department"
                          Immediate="true"
                          Label="Department" 
                          For="@(() => model.Department)" />

            <MudTextField @bind-Value="model.Email"
                          Immediate="true"
                          Label="Email" 
                          For="@(() => model.Email)" />


            <MudTextField @bind-Value="model.Phone"
                          Immediate="true"
                          Label="Phone"
                          For="@(() => model.Phone)" />

            <MudTextField @bind-Value="model.Address1"
                          Immediate="true"
                          Label="Assress01"
                          For="@(() => model.Address1)" />

            <MudTextField @bind-Value="model.Address2"
                          Immediate="true"
                          Label="Address02"
                          For="@(() => model.Address2)" />

            <MudTextField @bind-Value="model.City"
                          Immediate="true"
                          Label="City" 
                          For="@(() => model.City)" />

            <MudTextField @bind-Value="model.District"
                          Immediate="true"
                          Label="District"
                          For="@(() => model.District)" />

            <MudTextField @bind-Value="model.PhoneNumber"
                          Immediate="true"
                          Label="Mobile NB" 
                          For="@(() => model.PhoneNumber)" />

            <MudTextField @bind-Value="model.NationalID"
                          Immediate="true"
                          Label="National ID"
                          For="@(() => model.NationalID)" />

           @*  <MudTextField @bind-Value="model.modules"
                          Immediate="true"
                          Label="Modules" /> *@
        </MudCardContent>
    </MudForm>
    <MudCardActions>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   Class="ml-auto"
                   OnClick="@(async () => await Submit())">Add</MudButton>
    </MudCardActions>
</MudCard>



<style>
    .my-custom-card {
        max-width: 800px;
        margin: auto;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f8f9fa; /* Light gray background */
        border: 1px solid #ced4da; /* Gray border */
    }
</style>





@code {
   

    private string successMessage;
    private string errorMessage;
    private InputFile fileInput;
    private string uploadError;
    private List<Teacher> teachers;

    [Parameter]
    public EventCallback onAdded { get; set; }

    private Teacher model = new Teacher();
    private MudForm form;

    TeacherModelValidator teacherValidator = new TeacherModelValidator();


   


    public class TeacherModelValidator : AbstractValidator<Teacher>

    {

        public TeacherModelValidator()

        {

            RuleFor(x => x.FirstName)
            .NotEmpty()
            .Length(1, 100);


            RuleFor(x => x.LastName)
            .NotEmpty()
            .Length(1, 100);


            RuleFor(x => x.Email)
            .Cascade(CascadeMode.Stop)
            .NotEmpty()
            .EmailAddress()
            .MustAsync(async (value, cancellationToken) => await IsUniqueAsync(value));


            RuleFor(x => x.Address1)
            .NotEmpty()
            .Length(1, 100);


        }


        private async Task<bool> IsUniqueAsync(string email)

        {

            await Task.Delay(2000);
            return email.ToLower() != "test@test.com";


        }


        public Func<object, string, Task<IEnumerable<string>>> ValidateValue => async (model, propertyName) =>
        {

            var result = await ValidateAsync(ValidationContext<Teacher>

            .CreateWithOptions((Teacher)model, x => x.IncludeProperties(propertyName)));

            if (result.IsValid)


                return Array.Empty<string>();


            return result.Errors.Select(e => e.ErrorMessage);



        };


    }

    private async Task HandleFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;

        if (file != null)
        {
            try
            {
                teachers = await ReadTeachersFromExcel(file);
                
               
            }
            catch (Exception ex)
            {
                Snackbar.Add($"Error uploading file: {ex.Message}", MudBlazor.Severity.Error);
            }
        }
    }

    private async Task<List<Teacher>> ReadTeachersFromExcel(IBrowserFile file)
    {
        var teachers = new List<Teacher>();

        using (var memoryStream = new MemoryStream())
        {
            await file.OpenReadStream().CopyToAsync(memoryStream);
            memoryStream.Position = 0;

            
            using (var package = new OfficeOpenXml.ExcelPackage(memoryStream))
            {
                var worksheet = package.Workbook.Worksheets.FirstOrDefault();

                if (worksheet != null)
                {
                    for (int row = 2; row <= worksheet.Dimension.End.Row; row++)
                    {
                        var model = new Teacher
                            {
                                TeacherId = Convert.ToInt32(worksheet.Cells[row, 1].Value),
                                FirstName = worksheet.Cells[row, 2].Value?.ToString(),
                                LastName = worksheet.Cells[row, 3].Value?.ToString(),
                                Department = worksheet.Cells[row, 4].Value?.ToString(),
                                Email = worksheet.Cells[row, 5].Value?.ToString(),
                                Phone = worksheet.Cells[row, 6].Value?.ToString(),
                                Address1 = worksheet.Cells[row, 7].Value?.ToString(),
                                Address2 = worksheet.Cells[row, 8].Value?.ToString(),
                                City = worksheet.Cells[row, 9].Value?.ToString(),
                                District = worksheet.Cells[row, 10].Value?.ToString(),
                                PhoneNumber = worksheet.Cells[row, 11].Value?.ToString(),
                                NationalID = worksheet.Cells[row, 12].Value?.ToString(),
                                //modules = ParseModules(worksheet.Cells[row, 13].Value?.ToString())
                            };

                        teachers.Add(model);
                    }
                }
            }
        }

        return teachers;
    }

    private async Task SaveAllTeachers()
    {
        

        if (teachers != null && teachers.Any())
        {
            bool allTeachersSaved = true;

            foreach (var teacher in teachers)
            {
                try
                {
                    await AddTeacherUseCase.ExecuteAsync(teacher);
                    
                }
                catch (Exception ex)
                {
                    allTeachersSaved = false;
                    Snackbar.Add($"Error saving teacher: {ex.Message}", MudBlazor.Severity.Error);
                }
            }

            if (allTeachersSaved)
            {
                Snackbar.Add("All teachers saved successfully", MudBlazor.Severity.Success);
                await Task.Delay(1500);
                Navigation.NavigateTo("/teachersList");
            }


            StateHasChanged();
        }
    }

 

  
   

    private async Task Submit()
    {
        

        await form.Validate();
        if (form.IsValid)

        {
            await AddTeacherUseCase.ExecuteAsync(model);
            await onAdded.InvokeAsync();
            Snackbar.Add("New Lecturer added successfully", MudBlazor.Severity.Success);


        }
     
    }
}
